
.bet-card {
    background-color: white;
    border-radius: 0.3em;
    margin: 0.5em 1em;
    padding: 0.5em;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em 1em;

        label {
            font-weight: bold;
        }
    }

    hr {
        border: 1px solid #c9d4d9;
    }

    .bet-info {
        display: flex;
        flex-direction: row;
        padding: 0.5em 1em;
        justify-content: space-between;

        label {
            margin: auto 0;
            margin-right: 1em;
        }

        .bet-odd-label {
            border-radius: 0.4em;
            border: 1px solid rgb(147, 162, 162);
            padding: 0.5em;
        }
    }
}