@import '../vars.scss';


    ul {
        position: relative;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: auto;
        flex-grow: 1;
        
        button {
            padding: 1.4em 20em;
            margin: 0.5em 1em;
            background-color: white;
            border: 1px solid $primary-green;
            border-radius: 0.5em;
            list-style: none;
            font-size: 1.1rem;            
            width: 100px;
            box-shadow: $box-shadow-light;

            &:hover {
                border-color: $light-green;
                background-color: $light-green;
                font-weight: bold;
                cursor: pointer;
            }


            a {
                color: inherit; /* blue colors for links too */
                text-decoration: inherit; /* no underline */
            }
        }
        img {
            padding: 10px;
            width: 50px;
        }
}